/*презентация в слайдер*/


:root {
	--text: black;
    --bg2: #EF4D53;
    --bg3: #214A76;
}

.presentation{	
	container-type: inline-size;
    container-name: presentations;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}
.presentation_wrap{
	display: flex;
	padding: 60px;
	gap:65px;
	background: #fff;
	align-items: center;
    overflow: hidden;
}

.presentation .presentation_right{
    position: relative;
}

.presentation_title{
	color: #353535;
	font-size: 46px;
	font-weight: 700;
	line-height: 48px; 
	letter-spacing: -3px;
	margin-bottom: 40px;
}

.presentation_text p{
	color: var(--text);
	font-size: 22px;
	line-height: normal;
}

.presentation_text * + * {
	margin-top: 20px;
}

.presentation_img{
	position: relative;
}

.presentation1 .presentation_img:before{
	content:"";
	width: 100%;
	display: block;
	height: 100%;
	top:10%;
	left:-10%;
	background: var(--bg2);
	position: absolute;
	z-index: 0;
}

.presentation1 .presentation_img img{
	z-index:1;
	position: relative;
}	
.presentation1 .presentation_left img {
    width: auto;
    margin-bottom: 20px;
}
.presentation_right{
	flex-shrink: 0;
	max-width: 50%;
}
.presentation ul {
    list-style: none;
}
.presentation ul li {
    display: flex;
}
.presentation ul li img {
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 15px;
    margin-bottom: 0;
}
.text_block .presentation ul li:before {
    display: none;
}
.text_block .presentation ul li {
    padding-left: 0;
    color: var(--text);
    font-family: "Ubuntu";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text_block .presentation ul li + li {
    margin-top: 34px;
}













@container presentations (max-width: 1100px) {

} 




@container presentations (max-width: 900px) {

} 




@container presentations (max-width: 700px) {

} 




@container presentations (max-width: 600px) {

} 
