/*презентация в слайдер*/


:root {
	--text: black;
    --bg2: #EF4D53;
    --bg3: #214A76;
}

.presentation{	
	container-type: inline-size;
    container-name: presentations;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}
.presentation_wrap{
	display: flex;
	padding: 60px;
	gap:65px;
	background: #fff;
	align-items: center;
    overflow: hidden;
}

.presentation .presentation_right{
    position: relative;
}

.presentation_title{
	color: #353535;
	font-size: 46px;
	font-weight: 700;
	line-height: 48px; 
	letter-spacing: -3px;
	margin-bottom: 40px;
}

.presentation_text p{
	color: var(--text);
	font-size: 22px;
	line-height: normal;
}

.presentation_text * + * {
	margin-top: 20px;
}

.presentation_img{
	position: relative;
}

.presentation1 .presentation_img:before{
	content:"";
	width: 100%;
	display: block;
	height: 100%;
	top:10%;
	left:-10%;
	background: var(--bg2);
	position: absolute;
	z-index: 0;
}

.presentation1 .presentation_img img{
	z-index:1;
	position: relative;
}	

.presentation_right{
	flex-shrink: 0;
	max-width: 50%;
}
.presentation ul {
    list-style: none;
}
.presentation ul li {
    display: flex;
}
.presentation ul li img {
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 15px;
    margin-bottom: 0;
}
.text_block .presentation ul li:before {
    display: none;
}
.text_block .presentation ul li {
    padding-left: 0;
    color: var(--text);
    font-family: "Ubuntu";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text_block .presentation ul li + li {
    margin-top: 34px;
}
.presentation2 .presentation_wrap {
    padding: 0;
}
.presentation2 .presentation_img {
    position: relative;
    height: 100%;
    border-right: 20px solid var(--bg2);
}
.presentation2 .presentation_img img {
    width: 100%;
}
.presentation2 .presentation_left {
    padding: 84px 98px 96px 0px;
}

.presentation3 .presentation_wrap {
    padding: 120px 60px 120px 120px;
}
.presentation3 .presentation_img {
    z-index: 1;
    position: relative;
}

.presentation3:after {
    content: "";
    width: calc(25%);
    display: block;
    height: calc(100%);    
    right: 0%;
    background: var(--bg3);
    position: absolute;
    z-index: 0;
    top:0;
}
.presentation3 {
    position: relative;
}
.presentation3:before {
    position: absolute;
    content: "";
    width: 38px;
    height: 176px;
    top: 0;
    left: 0;
    background: var(--bg2);
    z-index: 1;
}



.presentation4 .presentation_wrap {
    flex-direction: row-reverse;
    padding: 0;
    align-items: center;
}
.presentation4 .presentation_left {
    padding: 128px 0 60px 60px;
}
.presentation4 .presentation_title {    
    position: relative;
}
.presentation4 .presentation_title:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 100%;
    left: 0px;
    top: -40px;
    background: var(--bg2);
}


.presentation5 .presentation_wrap {
    flex-direction: row-reverse;
}
.text_block .presentation5 ul li:before {
    display: none;
}
.text_block .presentation5 ul {
    margin-top: 44px;
}
.presentation5 .presentation_img {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}
.presentation5 .presentation_img:before {
    position: absolute;
    content: "";
    left: -30px;
    top: -30px;
    border: 5px solid var(--bg2);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    z-index: -1;
}




.presentation6 .presentation_wrap {
    padding: 70px 60px 90px 70px;
}
.presentation6 .presentation_img {
    z-index: 1;
    position: relative;
}
.presentation6:after {
    content: "";
    width: calc(25%);
    display: block;
    height: calc(100%);    
    right: 0%;
    background: var(--bg3);
    position: absolute;
    z-index: 0;
    top:0;
}
.presentation6 {
    position: relative;
}
.presentation6 .presentation_subtitle {
    color:  var(--text);
    font-family: "Ubuntu";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 50px; 
} 



.presentation7 {
    position: relative;
}
.presentation7 .presentation_title:before {
    position: absolute;
    content: "";
    height: 142px;
    width: calc(100% + 1800px);
    left: -60px;
    top: -50px;
    background: var(--bg3);
    z-index: -1;
}
.presentation7 .presentation_title {
    position: relative;
    z-index: 2;
    margin-bottom: 109px;
    color: #fff;
}
.presentation7 .presentation_wrap {
    padding: 50px 60px 60px 60px;
    z-index: 2;
    position: relative;
}
.presentation ol li { 
    list-style-type: none; 
    padding-left: 92px;
    color: var(--text);
    font-family: "Ubuntu";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.presentation7 ol { 
    counter-reset: list; 
}
.presentation7 ol li span {
    padding: 18px 0;
    display: block;
}
.presentation7 ol li:before {
    counter-increment: list;
    content: "0"counter(list) ;
    width: 70px;
    background: var(--bg2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: "Ubuntu";
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
.presentation7 ol li:nth-child(2n):before {
    background: var(--bg3);
}
.presentation7 .presentation_right {
    z-index: 99;
    position: relative;
    margin-top: -140px;
}




.presentation8 ol { 
    counter-reset: list; 
}
.presentation8 ol li span {
    margin-bottom: 44px;
    display: block;
    position: relative;
    min-height: 70px;
}
.presentation8 ol li {
    padding-left: 125px;
    position: relative;
}
.presentation8 ol li:before {
    counter-increment: list;
    content: "0"counter(list) ;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #353535;
    font-family: "Inter";
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 55px; 
    letter-spacing: -3px;
}
.presentation8 ol li span:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    left: -30px;
    top: 0;
    background: var(--bg2);
    z-index: 2;
}
.presentation8 .presentation_img {
    position: relative;
    z-index: 2;
}
.presentation8 .presentation_img:before {
    position: absolute;
    content: "";
    width: 353px;
    height: 149px;   
    top: -44px;
    right: -62px;
    background: var(--bg3);
    z-index: -1;
}
.presentation8 .presentation_img:after {
    position: absolute;
    content: "";
    width: 195px;
    height: 135px;  
    bottom: -44px;
    left: -62px;
    background: var(--bg2);
    z-index: -1;
}





.presentation9 .presentation_img:first-child {
    margin-right: 120px;
    position: relative;
    z-index: 5;
}
.presentation9 .presentation_img:last-child {
    margin-left: 120px;
    margin-top: 75px;
    position: relative;
    z-index: 5;
}
.presentation9 .presentation_img:first-child:before {
    position: absolute;
    content: "";
    left: -28px;
    top: -28px;
    border: 5px solid var(--bg2);
    width: calc(100% - 40px);
    height: calc(100% - 28px);
    z-index: -1;
}
.presentation9 .presentation_img:last-child:before {
    position: absolute;
    content: "";
    left: -28px;
    top: -28px;
    border: 5px solid var(--bg3);
    width: calc(100% - 40px);
    height: calc(100% - 28px);
    z-index: -1;
}


.presentation10 .presentation_img:first-child {
    margin-right: 163px;
    position: relative;
    z-index: 2;
}
.presentation10 .presentation_img:last-child {
    margin-top: 22px;
    position: relative;
    z-index: 2;
}
.presentation10 .presentation_img:first-child:before {
    position: absolute;
    width: 141px;
    height: 100%;
    content: "";
    right: -163px;
    top: 0;
    background: var(--bg3);
    z-index: 5;   
}
.presentation10 .presentation_img:last-child:before {
    position: absolute;
    width: 100px;
    height: 100px;
    content: "";
    bottom: 0;
    left: 0;
    background: var(--bg2);
    z-index: 5;   
}
.presentation10 .presentation_wrap {
    padding: 0;
}
.presentation10 .presentation_left {
    padding: 60px 0px 60px 60px;
}



.presentation11 .presentation_wrap {
    padding: 0;
}
.presentation11 .presentation_left {
    padding: 60px 60px 60px 0px;
}
.presentation11 .presentation_img {
    position: relative;
    z-index: 5; 
}
.presentation11 .presentation_right {
    padding: 65px 56px;
}
.presentation11 .presentation_img:before {
    position: absolute;
    width: calc(100% + 112px);
    height: calc(100%);
    content: "";
    top: -65px;
    left: -65px;
    background: var(--bg2);
    z-index: -1; 
}
.presentation11 .presentation_img:after {
    position: absolute;
    width: calc(100% + 112px);
    height: calc(130px);
    content: "";
    bottom: -65px;
    left: -65px;
    background: var(--bg3);
    z-index: -1; 
}






.presentation12 .presentation_wrap {
    flex-direction: row-reverse;
}
.presentation12 .presentation_img + .presentation_img {
    margin-top: 18px;
}




.presentation13 .presentation_right {
    flex-shrink: 1;
    margin-top: 80px;
}
.presentation .icon {
    width: 27px;
    height: 27px;
    display: block;
    flex-shrink: 0;
    margin-right: 15px;
}


.presentation14 .presentation_img {
    position: relative;
}
.presentation14 .presentation_img:before {
    position: absolute;
    width: 138px;
    height: 138px;
    content: "";
    top: -32px;
    left: -27px;
    background: var(--bg2);
    z-index: 5; 
}
.presentation14 .presentation_img:after {
    position: absolute;
    width: 54px;
    height: 54px;
    content: "";
    top: 56px;
    right: -27px;
    background: var(--bg2);
    z-index: 5; 
}
.presentation14 .presentation_right {
    position: relative;
    display: block;
}
.presentation14 .presentation_right:after {
    position: absolute;
    width: 68px;
    height: 68px;
    content: "";
    bottom: -32px;
    right: 27px;
    background: var(--bg3);
    z-index: 5; 
}
.presentation14 .presentation_wrap {
    flex-direction: row-reverse;
}



.presentation15 .presentation_wrap {
    padding: 113px 76px 110px 222px;
}
.presentation15 .presentation_right {
    position: relative;
    display: flex;
}
.presentation15 .presentation_right:before {
    position: absolute;    
    width: calc(100% - 10px);
    height: calc(100% + 86px);
    content: "";
    top: -43px;
    left: -151px;
    background: var(--bg3);
}
.presentation15 .presentation_right::after {
    position: absolute;
    width: 744px;
    height: 744px;
    content: "";
    top: 139px;
    left: -230px;
    opacity: 0.16;
    border-radius: 50%;
    border: 149px solid color-mix(in oklab, var(--bg3), white 14%);
}
.presentation15 .presentation_img {
    z-index: 99;
}
.presentation15 .presentation_img img {
    flex-shrink: 0;    

}





.presentation16 ol { 
    counter-reset: list; 
}
.presentation16 ol li span {
    margin-bottom: 44px;
    display: block;
    position: relative;
    min-height: 70px;
}
.presentation16 ol li {
    padding-left: 175px;
    position: relative;
}
.presentation16 ol li:before {
    counter-increment: list;
    content: "0"counter(list);
    width: 146px;
    height: 146px;
    background: #feeeee;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #EF4D53;
    text-align: center;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.65px; 
}
.presentation16 .presentation_img {
    position: relative;
    z-index: 2;
}
.presentation16 .presentation_img:before {
    position: absolute;
    content: "";
    width: calc(100% - 110px);
    height: calc(100% + 32px);
    top: -16px;
    left: -16px;
    background: var(--bg3);
    z-index: -1;
}
.presentation16 .presentation_img:after {
    position: absolute;
    content: "";
    width: calc(100% - 110px);
    height: calc(100% + 32px);
    top: -16px;
    left: -16px;
    border-radius: 38px;
    background: #416E9E;
    z-index: -1;
}
.presentation16 .presentation_wrap {
    position: relative;
    gap: 25px;
    align-items: flex-start;
}
.presentation16 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid #295A8E;
    opacity: 0.14; 
    top: -61%;
    right: -31%;
}
.presentation16 .presentation_wrap:after {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid #295A8E;
    opacity: 0.14; 
    bottom: -61%;
    left: -31%;
}




.presentation17 .presentation_wrap {
    background: var(--bg3);
    position: relative;
    z-index: 52;
}
.presentation17 .presentation_title {
    color: #fff;
}
.presentation17.presentation ul li {
    color: #fff;
}
.presentation17 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid color-mix(in oklab, var(--bg3), white 14%);
    top: -61%;
    right: -31%;
    z-index: 0;
}
.presentation17 .presentation_wrap:after {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid color-mix(in oklab, var(--bg3), white 14%);
    bottom: -61%;
    left: -31%;
    z-index: -1;
}




.presentation18 .presentation_items {
    display: flex;
    margin-left: -30px;
    flex-shrink: 0;
}
.presentation18 .presentation_items > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;    
    border: 0.5px solid #DEDEE9;
    border-top-right-radius: 33px;
    border-top-left-radius: 33px;
}
.presentation18 .presentation_item-img img {
    border-top-right-radius: 33px;
    border-top-left-radius: 33px;
}
.presentation18 .presentation_item-title {
    color: #1E1B39;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; 
    margin-bottom: 18px;
}
.presentation18 .presentation_item-text {
    color: #173A60;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.presentation18 {
    padding: 60px 70px 70px;
    background: var(--bg3);
    position: relative;
    height: 100%;
}
.presentation18:before {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid #345983;
    top: -61%;
    right: -31%;
    z-index: -1;
}
.presentation18:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 500px 0 0 1200px;
    border-color: transparent transparent transparent #fff;
    transform: rotate(0deg);
    bottom: 0;
    left: 0;
    z-index: -1;
}
.presentation18 .presentation_item-info {
    padding: 26px 28px 54px;
    background: #fff;
}
.presentation18 .presentation_title {
    color: #fff;
}




.presentation19 .presentation_wrap {
    padding: 60px 70px 70px;
    background: var(--bg3);
    position: relative;
    height: 100%;
    z-index: 9;
}
.presentation19 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid color-mix(in oklab, var(--bg3), white 14%);
    top: -61%;
    right: -31%;
    z-index: -1;
    opacity: 0.14;
}
.presentation19 .presentation_wrap:after {
    background: #fff;
    position: absolute;
    content: "";
    width: 450px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -9;   
}
.presentation19 .presentation_text p {
    color: #fff;
}
.presentation19 {
    position: relative;
    z-index: 55;
    background: var(--bg3);
}
.presentation_right {
    position: relative;
    z-index: 55;
}
.presentation19 .presentation_right:before {  
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid #345983;
    opacity: 0.14;
    bottom: -154%;
    left: -100%;
    z-index: -24;
}



.presentation20 .presentation_wrap {
    align-items: flex-start;
}
.presentation20 .presentation_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.presentation20 .presentation_left .presentation_logo {
    margin-bottom: 115px;
}
.presentation20 .presentation_left .presentation_logo img {
    margin-bottom: 0px;
    width: auto;
}
.button-arrow {
    margin-top: 55px;
}
.button-arrow img {
    width: auto;
}
.presentation20 .presentation_img {
    position: relative;
    z-index: 2;
}
.presentation20 .presentation_img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    left: -25px;
    top: 25px;
    z-index: -1;
}
.presentation20 .presentation_img:after {
    position: absolute;
    content: "";
    width: 994px;
    height: 994px;
    border-radius: 100%;
    background: var(--bg3);
    left: -80px;
    top: 170px;
    z-index: -2;
}




.presentation21 {
    background: url(../images/slide21.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}
.presentation21 .presentation_wrap {
    padding: 67px 38px 67px 57px;   
    background: var(--bg3);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 184px;
}
.presentation21 .button-arrow {
    position: absolute;
    top: 54px;
    right: 58px;
    margin-top: 0;
}
.presentation21 .presentation_title {
    color: #fff;
}
.presentation21 .presentation_text p {
    color: #fff;
}
.presentation21 .presentation_info {
    margin-top: auto;
}


.presentation22 .presentation_wrap {
    background: var(--bg3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.presentation22 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 1008px;
    height: 1008px;
    border-radius: 100%;
    border: 167px solid color-mix(in oklab, var(--bg3), white 14%);
    opacity: 0.14;
    bottom: -65%;
    left: -37%;
    z-index: 1;
}
.presentation22 .presentation_info {
    width: 70%;
}
.presentation22 .presentation_img {
    position: relative;
    z-index: 2;
}
.presentation22 .presentation_img:before {
    position: absolute;
    content: "";
    width: calc(100% - 100px);
    height: calc(100% + 32px);
    background: #EF4D53;
    top: -16px;
    left: -16px;
    z-index: -1;
}
.presentation22 .presentation_title {
    color: #fff;
}
.presentation22 .presentation_text p {
    color: #fff;
}
.presentation22 {
    position: relative;
}
.presentation22 .button-arrow {
    position: absolute;
    bottom: 101px;
    right: 81px;
    margin-top: 0;
}
.presentation22 .presentation_logo {
    width: 321px;
    height: 100px;
    position: absolute;
    top: 69px;
    right: 91px;
}




.presentation23 {
    position: relative;
    z-index: 2;
}
.presentation23::after {
    position: absolute;
    content: "";
    width: 1408px;
    height: 1408px;
    border-radius: 100%;
    border: 235px solid #000;
    bottom: -160%;
    left: -69%;
    z-index: -1;
}
.presentation23::before {
    position: absolute;
    content: "";
    width: 312px;
    height: 100%;
    background: #F2F3F2;
    bottom: 0%;
    right: 0px;
    z-index: 1;
}
.presentation23 .presentation_wrap {
    position: relative;
    display: flex;
    align-items: flex-start;
}
.presentation23 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 111px;
    height: 111px;
    border-radius: 50%;
    border: 27px solid var(--bg2);
    top: 24px;
    right: 54px;
    z-index: 1;  
}
.presentation23 .presentation_wrap:after {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 13px solid var(--bg2);
    top: 131px;
    right: 151px;
    z-index: 1;  
}
.presentation23 .presentation_title {
    max-width: 300px;
    width: 100%;
}
.presentation23 .presentation_text {
    width: 40%;
}



.presentation24 .presentation_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.circle1 span,
.circle2 span,
.circle3 span {
    display: block;
    border-radius: 50%;
    position: absolute;
}
.circle1 span:nth-child(1) {
    width: 489px;
    height: 489px;
    border: 1px solid rgba(33, 74, 118, 0.20);
    top: -230px;
    right: 50px;
}
.circle1 span:nth-child(2) {
    width: 338px;
    height: 338px;
    border: 1px solid rgba(33, 74, 118, 0.20);
    top: -135px;
    right: 125px;
}
.circle1 span:nth-child(3) {
    width: 188px;
    height: 188px;
    border: 1px solid rgba(33, 74, 118, 0.20);
    top: -60px;
    right: 200px;
}
.circle1 span:nth-child(4) {
    width: 37px;
    height: 37px;
    background: var(--bg3);    
    top: 15px;
    right: 275px;
}

.circle2 span:nth-child(1) {
    width: 272px;
    height: 272px;
    border: 1px solid var(--bg2);
    top: 210px;
    right: -60px;
}
.circle2 span:nth-child(2) {
    width: 188px;
    height: 188px;
    border: 1px solid var(--bg2);
    top: 252px;
    right: -18px;
}
.circle2 span:nth-child(3) {
    width: 104px;
    height: 104px;
    border: 1px solid var(--bg2);
    top: 294px;
    right: 24px;
}
.circle2 span:nth-child(4) {
    width: 21px;
    height: 21px;
    background: var(--bg2);
    border-radius: 50%;
    top: 336px;
    right: 66px;
}

.circle3 span:nth-child(1) {
    width: 638px;
    height: 638px;    
    border: 85px solid rgba(239, 77, 83, 0.40);
    bottom: -380px;
    right: -380px;
}
.circle3 span:nth-child(2) {
    width: 468px;
    height: 468px;    
    border: 85px solid rgba(239, 77, 83, 0.60);
    bottom: -295px;
    right: -295px;
}
.circle3 span:nth-child(3) {
    width: 298px;
    height: 298px;    
    border: 85px solid rgba(239, 77, 83, 0.80);
    bottom: -210px;
    right: -210px;
}
.presentation24 .presentation_title {
    max-width: 415px;
    width: 100%;
}
.presentation24 .presentation_text {
    width: 82%;
}


.presentation25 .presentation_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.presentation25 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 196px;
    height: 196px;
    border-radius: 50%;
    border: 55px solid var(--bg2);
    top: 23px;
    right: 47px;
    z-index: 1;    
}
.presentation25 .presentation_title {
    width: calc(100% - 220px);

}


.presentation26 {
    position: relative; 
    z-index: 99;  
}
.presentation26 .presentation_wrap {
    background: var(--bg3); 
}
.presentation26 .circle {
    position: absolute;
    top: -200px;
    right: -75px;
    transform: rotate(-148.126deg);
    display: flex;
    flex-wrap: wrap;
    width: 717px;
}
.presentation26 .circle span {
    display: block;
    width: 239px;
    height: 239px;  
    border-radius: 50%;  
    flex-shrink: 0;   
    background: color-mix(in oklab, var(--bg3), white 14%);
}
.presentation26 .presentation_title {
    color: #fff;
}
.text_block .presentation26 ul li {
    color: #fff;
}
.presentation26 .presentation_img {
    position: relative;
    z-index: 2;
}
.presentation26 .presentation_img::after {
    position: absolute;
    content: "";
    width: 421px;
    height: calc(100% - 92px);
    background: var(--bg2);
    bottom: 0;
    right: -110px;
    z-index: -2;
}
.presentation26 .presentation_img::before {
    position: absolute;
    content: "";
    width: 509px;
    height: 509px;
    border-radius: 100%;
    border: 134px solid color-mix(in oklab, var(--bg2), white 14%);
    bottom: -270px;
    right: -264px;
    z-index: -1;
}
.presentation26 .presentation_right {
    margin-left: 90px;
}



.presentation27 .presentation_img {
    display: flex;
    flex-wrap: wrap;
}
.presentation27 .presentation_img > * {
    width: 50%;
    display: block;
}
.presentation27 .presentation_right {
    margin: -60px -60px -60px 0;
    position: relative;
}
.presentation27 .presentation_right .button-arrow {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-100%);
}





.presentation28 .presentation_wrap {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}
.presentation28 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background: var(--bg3);
    bottom: 0;
    left: 0;
    z-index: -1;
}
.presentation28 .presentation_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}
.presentation28 .presentation_items > * {
    padding: 46px 36px 53px;
    border: 1px solid var(--bg3);
    background: #fff;
    width: calc(100%/3 - 20px);
    margin-left: 20px;
}
.presentation28 .presentation_item-title {
    margin-top: 29px;
    color:  #1E1B39;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.18px; 
}
.presentation28 .presentation_item-text {
    margin-top: 15px;
    color: #173A60;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





.presentation29 .presentation_wrap {
    padding: 110px 87px 110px 120px;
}
.presentation29 .presentation_wrap::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background: var(--bg3);
    left: 0;
    top: 0;
}
.presentation29 .presentation_img {
    position: relative;
    z-index: 1;
}
.presentation29 .presentation_img::after {
    position: absolute;
    content: "";
    height: calc(100% + 40px);
    width: calc(100% + 140px);
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: color-mix(in oklab, var(--bg3), white 14%);
    border-radius: 50%;
    z-index: -2;
}
.presentation29 .presentation_img::before {
    position: absolute;
    content: "";
    width: calc(100% - 36px);
    height: calc(100% + 60px);
    top: -30px;
    left: -30px;
    background: var(--bg2);
    z-index: -1;
}
.presentation29 .presentation_wrap {
    gap: 80px;
}
.presentation29 .presentation_title {
    text-align: end;
}
.presentation29 .presentation_text {
    text-align: end;
}



.presentation30 .presentation_wrap {
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.presentation_item .icon {
    fill: var(--bg2);
}
.presentation_item.active .icon {
    fill: #fff;
}
.presentation30 .presentation_item.active {
    background: var(--bg3);
}
.presentation30 .presentation_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}
.presentation30 .presentation_items > * {
    padding: 46px 36px 53px;
    border: 1px solid var(--bg3);
    background: #fff;
    width: calc(100%/3 - 20px);
    margin-left: 20px;
}
.presentation30 .presentation_item-title {
    margin-top: 29px;
    color:  #1E1B39;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.18px; 
}
.presentation30 .presentation_item-text {
    margin-top: 15px;
    color: #173A60;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.presentation30 .presentation_item.active .presentation_item-title {
    color: #fff;
}
.presentation30 .presentation_item.active .presentation_item-text {
    color: #fff;
}
.presentation30 .presentation_title {
    margin-bottom: 0;
}




.presentation31 .presentation_wrap {
    align-items: center;
    z-index: 1;
    position: relative;
}
.presentation31 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 1005px;
    height: 1005px;
    border-radius: 100%;
    border: 168px solid var(--bg3);
    left: 38%;
    top: -127%;
    opacity: 0.1;
    z-index: -1;
}
.presentation31 .presentation_title {
    margin-bottom: 0;
    margin-right: 150px;
}



.presentation32 .presentation_box {
    background: url(../images/slide32.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 71px;
}
.presentation32 .presentation_wrap {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    overflow: visible;
}
.presentation32 .presentation_wrap .button-arrow {
    position: absolute;
    right: -50px;
    bottom: 30px;
}
.presentation32 .presentation_title {
    margin-bottom: 0;
}



.presentation33 .presentation_logo img {
    width: auto;
}
.presentation33 .presentation_logo {
    margin-bottom: 101px;
}
.presentation33 .button-arrow {
    margin-bottom: 96px;
    display: block;
}
.presentation33 .presentation_right {
    margin-right: -60px;
}
.presentation33 .presentation_wrap {
    position: relative;
    z-index: 1;
}
.presentation33 .presentation_wrap::after {
    position: absolute;
    content: "";
    width: 987px;
    height: 987px;
    border-radius: 100%;
    border: 134px solid color-mix(in oklab, var(--bg2), white 12%);
    opacity: 0.12;
    left: -34%;
    top: -41%;
    z-index: -1;
}
.presentation33 .presentation_wrap::before{
    position: absolute;
    content: "";
    width: 987px;
    height: 987px;
    border-radius: 100%;
    border: 134px solid color-mix(in oklab, var(--bg3), white 12%);
    opacity: 0.12;
    left: 40%;
    top: -15%;
    z-index: -1;
}



.presentation34 .presentation_left {
    position: relative;
    display: flex;
    align-items: center;
}
.presentation34 .presentation_wrap {
    position: relative;
    align-items: stretch;
}
.presentation34 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 40%;
    height: 100%;
    background: var(--bg3);
    top: 0;
    left: 0;
}
.presentation34 .presentation_wrap:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: var(--bg2);
    top: 0;
    left: 0;
}
.presentation34 .presentation_left:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: var(--bg2);
    bottom: -60px;
    right: 52px;
}
.presentation34 .presentation_title {
    color: #fff;
}
.presentation_list li .icon {
    fill: var(--bg2);
}





.presentation35 .presentation_wrap {
    align-items: flex-start;
    padding: 103px 169px 77px 64px;
}
.presentation35 {
    position: relative;
}
.presentation35 .presentation_list {
    margin-top: 68px;
}
.presentation35 .circle4 span,
.presentation35 .circle5 span {
    display: block;
    border-radius: 50%;
    position: absolute;
}
.presentation35 .circle4 span:nth-child(1) {
    width: 638px;
    height: 638px;    
    border: 85px solid rgba(239, 77, 83, 0.40);
    bottom: -320px;
    left: -320px;
}
.presentation35 .circle4 span:nth-child(2) {
    width: 468px;
    height: 468px;    
    border: 85px solid rgba(239, 77, 83, 0.60);
    bottom: -235px;
    left: -235px;
}
.presentation35 .circle4 span:nth-child(3) {
    width: 298px;
    height: 298px;    
    border: 85px solid rgba(239, 77, 83, 0.80);
    bottom: -150px;
    left: -150px;
}
.presentation35 .circle4 span:nth-child(4) {
    width: 128px;
    height: 128px;    
    border: 65px solid rgba(239, 77, 83, 1);
    bottom: -65px;
    left: -65px;
}
.presentation35 .circle5 span:nth-child(1) {
    width: 638px;
    height: 638px;    
    border: 85px solid rgba(33, 74, 118, 0.40);
    top: -380px;
    right: -380px;
}
.presentation35 .circle5 span:nth-child(2) {
    width: 468px;
    height: 468px;    
    border: 85px solid rgba(33, 74, 118, 0.60);
    top: -295px;
    right: -295px;
}
.presentation35 .circle5 span:nth-child(3) {
    width: 298px;
    height: 298px;    
    border: 85px solid rgba(33, 74, 118, 0.80);
    top: -210px;
    right: -210px;
}




.presentation36 .presentation_wrap {
    gap: 115px;
}
.presentation36 .presentation_right {
    margin: -60px;
}
.presentation36 .presentation_text p:nth-child(1) {
    padding: 50px;
    background: #B4D4F5;
    color: #173A60;
    margin-top: 0;
}
.presentation36 .presentation_text p:nth-child(2) {
    padding: 50px;
    background: #5C8CC0;
    color: #fff;
    margin-top: 0;
}
.presentation36 .presentation_text p:nth-child(3) {
    padding: 50px;
    background: var(--bg3);
    color: #fff;
    margin-top: 0;
}
.presentation36 .presentation_left {
    margin-bottom: -60px;
}
.presentation36 .presentation_title {
    margin-bottom: 157px;
}
.presentation36 .presentation_img {
    position: relative;
    z-index: 2;
}
.presentation36 .icon1 {
    width: 147px;
    height: 147px;
    display: block;
    margin-right: 0;
    position: absolute;
    left: -60px;
    top: 20px;
    z-index: -1;
}
.presentation36 .icon2 {
    width: 220px;
    height: 145px;
    display: block;
    margin-right: 0;
    position: absolute;
    right: -60px;
    top: 20px;
    z-index: -1;
}






.presentation37 .presentation_wrap {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: var(--bg3);
    padding: 81px 191px 150px 68px;
}
.presentation37 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 1720px;
    height: 962px;
    transform: rotate(-10.63deg);
    border-radius: 100%;
    bottom: 45px;
    right: -150px;
    background: #FFF;
}
.presentation37 .presentation_title {
    z-index: 5;
}
.presentation37 .presentation_list li:nth-child(2) {
    width: 60%;
}
.presentation37 .circle4 span {
    display: block;
    border-radius: 50%;
    position: absolute;
}
.presentation37 .circle4 span:nth-child(1) {
    width: 638px;
    height: 638px;    
    border: 85px solid rgba(33, 74, 118, 0.40);
    top: -220px;
    right: -50px;
}
.presentation37 .circle4 span:nth-child(2) {
    width: 468px;
    height: 468px;    
    border: 85px solid rgba(33, 74, 118, 0.60);
    top: -135px;
    right: 35px;
}
.presentation37 .circle4 span:nth-child(3) {
    width: 298px;
    height: 298px;    
    border: 85px solid rgba(33, 74, 118, 0.80);
    top: -50px;
    right: 120px;
}
.presentation37 .circle4 span:nth-child(4) {
    width: 128px;
    height: 128px;    
    border: 85px solid rgba(33, 74, 118, 1);
    top: 20px;
    right: 180px;
}





.presentation38 .presentation_wrap {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 170px 70px;
}
.presentation38 .presentation_wrap:before {
    position: absolute;
    content: "";
    background: url(../images/slide38-1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.presentation38 .presentation_wrap:after {
    position: absolute;
    content: "";
    background: url(../images/slide38-2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: calc(100% - 313px);
    top: 50%;
    transform: translateY(-50%);
}
.presentation38 .presentation_title {
    width: 60%;
}
.presentation38 .presentation_text {
    width: 60%;
}




.presentation39 .presentation_box {
    padding: 53px 116px 61px;
    background: #fff;
    position: relative;
}
.presentation39 .presentation_box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 281px;
    background: var(--bg3);
    left: 0;
    top: 0;
}









@container presentations (max-width: 1100px) {

    .presentation18 .presentation_items > * {
        width: 100%;
        margin-left: 0;
    }
    .presentation18 .presentation_items {
        flex-wrap: wrap;
        margin: 0;
    }
    .presentation18 .presentation_item + .presentation_item {
        margin-top: 20px;
    }

    .presentation28 .presentation_items > * {
        width: 100%;
        margin-left: 0;
    }
    .presentation28 .presentation_items {
        flex-wrap: wrap;
        margin: 0;
    }
    .presentation28 .presentation_item + .presentation_item {
        margin-top: 20px;
    }

    .presentation30 .presentation_items > * {
        width: 100%;
        margin-left: 0;
    }
    .presentation30 .presentation_items {
        flex-wrap: wrap;
        margin: 0;
    }
    .presentation30 .presentation_item + .presentation_item {
        margin-top: 20px;
    }
    .presentation35 .presentation_wrap {
        padding: 60px;
    }
    .presentation38 .presentation_wrap:after {
        display: none;
    }
    .presentation38 .presentation_title {
        width: 100%;
    }
    .presentation38 .presentation_text {
        width: 100%;
    }




}





@container presentations (max-width: 900px) {
 	.presentation_title{
 		font-size: 40px;
	    line-height: 40px;
 	}

 	.presentation_text p{
 		font-size: 18px;
 	}
    .text_block .presentation ul li,
    .text_block .presentation ol li {
        font-size: 18px;
    }
  
    .presentation3 .presentation_wrap {
        padding: 60px;
    }
    .presentation2 .presentation_right {
        width: calc(100% - 400px);
    }
     .presentation2 .presentation_left {
        padding: 60px 60px 60px 0;
    }
    .presentation6 .presentation_wrap {
        padding: 50px;
    }
    .presentation6 .presentation_subtitle {
        font-size: 20px;
    }
    .presentation7 .presentation_wrap {
        padding: 30px;
    }
    .presentation9 .presentation_img:first-child {
        margin-right: 0px;
    }
    .presentation9 .presentation_img:last-child {
        margin-left: 0px;
        margin-top: 45px;
    }

    .presentation11 .presentation_right{
    	padding: 0;
    }
    .presentation22 .button-arrow {
        width: 50px;
        height: 50px;
    }
    .presentation22 .button-arrow img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .presentation22 .presentation_info {
        width: 75%;
    }


    .presentation15 .presentation_right:before {
        width: calc(100% - 70px);
        height: calc(100% + 40px);
        content: "";
        top: -20px;
        left: -20px;
    }
    .presentation15 .presentation_wrap {
        padding: 60px;
    }


    .presentation16 ol li:before {
        width: 80px;
        height: 80px;
        font-size: 34px;
    }
    .presentation16 ol li {
        padding-left: 90px;
    }
    .presentation16 .presentation_wrap:after {
        display: none;
    }
    .presentation17 .presentation_wrap:after {
        display: none;
    }

    .presentation18 {
        padding: 20px;
    }

    .presentation20 .presentation_wrap {
        align-items: center;
    }

    .presentation25 .presentation_wrap:before {
        position: absolute;
        content: "";
        width: 96px;
        height: 96px;
        border-radius: 50%;
        border: 25px solid var(--bg2);
        top: 30px;
        right: 30px;
        z-index: 1;
    }

    .presentation19 .presentation_wrap:before {
        display: none;
    }
    .presentation19 .presentation_wrap:after {
        width: 47%;
    }
    .presentation22 .presentation_img {
        width: 50%;
    }
    .presentation22 .presentation_info {
        width: 50%;
    }
    .presentation22 .presentation_logo {
        width: 25%;
        height: auto;
        top: 30px;
        right: 30px;
    }
    .presentation22 .button-arrow {
        bottom: 30px;
        right: 30px;
    }
    .presentation23 .presentation_wrap {
        flex-direction: column;
    }
    .presentation23 .presentation_title {
        margin-bottom: 0;
    }
    .presentation23 .presentation_text {
        width: calc(100% - 260px);
    }
    .presentation23::before {
        width: 230px;
    }
    .presentation26 .presentation_right {
        margin-left: 0;
    }
    .presentation26 .presentation_img::before {
        display: none;
    }
    .presentation26 .presentation_img::after {
        display: none;
    }
    .presentation18 {
        padding: 20px;
    }

    .presentation29 .presentation_wrap {
        padding: 40px;
    }

    .presentation33 .button-arrow {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .presentation33 .presentation_logo {
        margin-bottom: 30px;
    }
    .presentation33 .presentation_right {
        margin-right: 0;
    }

    .presentation38 .presentation_wrap {
        padding: 60px;
    }



}


@container presentations (max-width: 850px) {
    .presentation8 .presentation_wrap {
        flex-direction: column;
    }
    .presentation8 .presentation_img:before {
        display: none;
    }
    .presentation8 .presentation_img:after {
        display: none;
    }
    .circle1,
    .circle2,
    .circle3 {
        display: none;
    }
    .presentation24 .presentation_text {
        width: 100%;
    }
    .presentation27 .presentation_wrap {
        gap: 60px;
    }
    .presentation27 .presentation_right .button-arrow {
        display: none;
    }
    .presentation27 .presentation_right {
        margin: 0;
    }
    .presentation32 .presentation_logo {
        width: 70%;
    }
    .presentation32 .presentation_logo img {
        width: 100%;
    }
    .presentation32 .presentation_wrap .button-arrow {
        display: none;
    }
    .presentation32 .presentation_wrap {
        width: 100%;
    }
    .presentation_box {
        padding: 30px;
    }
    .presentation36 .presentation_title {
        margin-bottom: 30px;
    }
    .presentation36 .presentation_text p:nth-child(1),
    .presentation36 .presentation_text p:nth-child(2),
    .presentation36 .presentation_text p:nth-child(3) {
        padding: 20px;
    }
    .presentation36 .presentation_wrap {
        flex-direction: column;
    }
    .presentation36 .presentation_right {
        margin: 0px;
        max-width: 100%;
    }

    .presentation37 .circle4 {
        display: none;
    }
    .presentation37 .presentation_wrap {
        padding: 60px;
    }



}

@container presentations (max-width: 700px) {	
	.presentation_wrap{
		padding: 30px;
	}
 	.presentation_title{
 		font-size: 30px;
	    line-height: 30px;
 	}

 	.presentation_text p{
 		font-size: 16px;
 	}
    .text_block .presentation ul li,
    .text_block .presentation ol li {
        font-size: 16px;
    }
    .presentation6 .presentation_subtitle {
        font-size: 18px;
    }
    .presentation7 .presentation_wrap {
        flex-direction: column;
    }
    .presentation7 .presentation_right {
        margin-top: 0;
        max-width: 100%;
    }
    .presentation7 .presentation_title:before {
        height: 100px;
    }
    .presentation7 .presentation_title {
        margin-bottom: 50px;
    }
    .presentation8 ol li {
        padding-left: 75px;
    }
    .presentation8 .presentation_right {
        max-width: 100%;
    }
    .presentation8 ol li span {
        margin-bottom: 20px;
    }
    .presentation_wrap {
        gap: 40px;
    }
    .presentation8 ol li:before {
        width: 50px;
        font-size: 32px;
    }
    .presentation8 ol li span:before {
        left: -18px;
    }
    .presentation11 .presentation_wrap {
        padding: 30px;
        flex-direction: column-reverse;
    }
    .presentation11 .presentation_left {
        padding: 0;
    }
    .presentation12 .presentation_wrap {
        flex-direction: column;
    }
    .presentation14 .presentation_wrap {
        flex-direction: column;
    }
    .presentation14 .presentation_img:before {
        display: none;
    }
    .presentation14 .presentation_img:after {
        display: none;
    }
    .presentation14 .presentation_right:after {
        display: none;
    }
    .presentation11 .presentation_img:before {
        display: none;
    }
    .presentation11 .presentation_img:after {
        display: none;
    }
    .presentation15 .presentation_wrap {
        padding: 20px;
    }

    .presentation19 .presentation_wrap {
        padding: 30px 20px;
    }
    .presentation19 .presentation_wrap:after {
        background: none;
    }
    .presentation19 .presentation_right {
        max-width: 100%;
    }
    .presentation19 .presentation_title {
        color: #fff;
    }
    .presentation18 .presentation_item-info {
        padding: 15px;
    }
    .presentation18 .presentation_item-title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .presentation18 .presentation_item-text {
        font-size: 18px;
    }

    .presentation23 .presentation_wrap:before,
    .presentation23 .presentation_wrap:after {
        display: none;
    }
    .presentation23::before {
        display: none;
    }
    .presentation23 .presentation_text {
        width: 100%;
    }
    .presentation23 .presentation_title {
        max-width: 100%;
    }

    .presentation26 .presentation_right {
        max-width: 100%;
    }

    .presentation28 .presentation_items > * {
        padding: 20px;
    }
    .presentation28 .presentation_item-title {
        margin-top: 20px;
        font-size: 24px;
    }
    .presentation28 .presentation_item-text {
        margin-top: 10px;
        font-size: 18px;
    }

    .presentation30 .presentation_items > * {
        padding: 20px;
    }
    .presentation30 .presentation_item-title {
        margin-top: 20px;
        font-size: 24px;
    }
    .presentation30 .presentation_item-text {
        margin-top: 10px;
        font-size: 18px;
    }

    .presentation37 .presentation_wrap:before {
        display: none;
    }
    .presentation37 .presentation_wrap {
        background: #fff;
        padding: 30px;
    }
    .presentation37 .presentation_list li:nth-child(2) {
        width: 100%;
    }



}

@container presentations (max-width: 600px) {
	.presentation_wrap {
		flex-direction: column;
	}

	.presentation1 .presentation_img:before{
		display: none;
	}
    .presentation3 .presentation_img:before {
        width: 100%;
        height: calc(100% + 40px);
        top: -20px;
        left: 40px;
    }
    .presentation3 .presentation_wrap {
        flex-direction: column;
    }
    .presentation2 .presentation_wrap {
        padding: 60px;
    }
    .presentation2 .presentation_left {
        padding: 0px;
    }
    .presentation2 .presentation_right {
        width: 100%;
    }
    .presentation4 .presentation_wrap {
        flex-direction: column-reverse;
        padding: 60px;
    }
    .presentation4 .presentation_left {
        padding: 0;
    }
    .presentation4 .presentation_title:before {
        top: -25px;
    }
    .presentation4 .presentation_right {
        max-width: 100%;
    }
    .presentation5 .presentation_wrap {
        flex-direction: column-reverse;
    }
    .text_block .presentation ul li + li {
        margin-top: 20px;
    }
    .text_block .presentation ol li + li {
        margin-top: 20px;
    }
    .text_block .presentation5 ul {
        margin-top: 25px;
    }
    .presentation6:after {
        display: none;
    }
    .presentation6 .presentation_right {
        max-width: 100%;
    }
    .presentation6 .presentation_wrap {
        padding: 30px;
    }
    .presentation10 .presentation_left {
        padding: 0px;
    }
    .presentation10 .presentation_wrap {
        padding: 30px;
    }
    .presentation10 .presentation_img:first-child:before {
        display: none;
    }
    .presentation10 .presentation_img:first-child {
        margin-right: 0;
    }
    .presentation10 .presentation_img:last-child:before {
        display: none;
    }
    .presentation10 .presentation_right {
        max-width: 100%;
    }
    .presentation13 .presentation_right {
        margin-top: 0;
        max-width: 100%;
    }
    .presentation3:after {
        display: none;
    }
    .presentation5 .presentation_img {
        margin-top: 0;
    }
    .presentation5 .presentation_img:before {
        position: absolute;
        content: "";
        left: -15px;
        top: -15px;
        border: 5px solid var(--bg2);
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        z-index: -1;
    }
    .presentation16 .presentation_right {
        max-width: 100%;
    }
    .presentation16 ol li span {
        margin-bottom: 20px;
    }
    .presentation16 ol {
        margin-top: 20px;
    }
    .presentation20 .presentation_left .presentation_logo {
        margin-bottom: 40px;
    }
    .presentation21 .presentation_wrap {
        width: 95%;
    }
    .presentation21 .presentation_wrap {
        padding: 25px;
    }
    .presentation21 .button-arrow {
        top: 20px;
        right: 20px;
    }
    .presentation29 .presentation_wrap {
        flex-direction: column-reverse;
    }
    .presentation29 .presentation_wrap::before {
        display: none;        
    }
    .presentation29 .presentation_right {
        max-width: 100%;
    }
    .presentation31 .presentation_wrap {
        align-items: flex-start;
    }

    .presentation34 .presentation_wrap:before {
        display: none;
    }
    .presentation34 .presentation_left:after {
        display: none;
    }
    .presentation34 .presentation_wrap:after {
        display: none;
    }
    .presentation34 .presentation_title {
        color: #353535;
    }

    .presentation35 .presentation_list {
        margin-top: 0px;
    }
    .presentation35 .presentation_right {
        max-width: 100%;
    }
    .presentation35 .presentation_title {
        margin-bottom: 0;
    }
    .presentation35 .presentation_wrap {
        padding: 30px;
    }

    .presentation38 .presentation_wrap {
        padding: 30px;
    }
    .presentation38 .presentation_title {
        margin-bottom: 0;
    }





}

@container presentations (max-width: 500px) {	
	.presentation_right{
		max-width: 100%;
	}
	.presentation_title{
		margin-bottom: 20px;
	}
    .presentation2 .presentation_wrap,
    .presentation3 .presentation_wrap{
        padding: 30px;
    }
    .presentation4 .presentation_wrap {
        padding: 60px 30px 30px;
    }
    .presentation3:before  {
        width: 15px;
    }

}