/*презентация в слайдер*/

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root {
	--text: black;
    --bg2: #EF4D53;
    --bg3: #214A76;
}

.presentation{	
	container-type: inline-size;
    container-name: presentations;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}
.presentation_wrap{
	display: flex;
	padding: 70px;
	gap:65px;
	background: #fff;
	align-items: center;
    overflow: hidden;
}

.presentation .presentation_right{
    position: relative;
}

.presentation_title{
	font-family: "SF Pro Display";
	font-size: 46px;
	font-style: normal;
	font-weight: 800;
	line-height: 40px;
	letter-spacing: -1px;
	color: #292929;
	margin-bottom: 40px;
}
.presentation_text {
	margin-bottom: 44px;
}
.presentation_text p{
	font-family: "SF Pro Display";
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #173A60;
}

.presentation_text * + * {
	margin-top: 20px;
}

.presentation_img{
	position: relative;
}

.presentation_right{
	flex-shrink: 0;
	max-width: 50%;
}
.presentation_logo {
	display: flex;
	align-items: flex-end;
	margin-bottom: 41px;
}
.presentation_logo .icon2 {
	fill: var(--bg3);
	display: block;
	width: 214px;
	height: 47px;
}
.presentation_logo .icon1 {
	fill: #000;
	display: block;
	width: 56px;
	height: 56px;
}
.button-arrow img {
	width: 82px;
	height: 82px;
}
.presentation1 .presentation_left {
	overflow: hidden;
	padding: 40px 0 40px 40px;
}
.presentation1 .presentation_left .presentation_img {
	position: relative;
	z-index: 1;
}
.presentation1 .presentation_left .presentation_img:before {
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 80px);
    content: "";
    top: -40px;
    left: -40px;
    background: var(--bg3);
	z-index: -1;	
}
.presentation1 .presentation_left .presentation_img::after {
    position: absolute;
    width: 607px;
    height: 607px;
    content: "";
    top: -85px;
    left: -62px;
    border-radius: 50%;
    border: 109px solid	color-mix(in oklab, var(--bg3), white 14%);
	z-index: -1;
}

.landing .presentation:nth-child(2n) .presentation_wrap {
	background: var(--bg3);
}
.landing .presentation:nth-child(2n) .presentation_left .presentation_img:before {
    background: var(--bg2);
}
.landing .presentation:nth-child(2n) .presentation_left .presentation_img::after {
    border: 109px solid	color-mix(in oklab, var(--bg2), white 14%);
}
.landing .presentation:nth-child(2n) .presentation_logo .icon2 {
	fill: #fff;
}
.landing .presentation:nth-child(2n) .presentation_title {
	color: #fff;
}
.landing .presentation:nth-child(2n) .presentation_text p {
	color: #fff;
}



.presentation2 .presentation_right .presentation_img img {
	border-radius: 50%;
}
.presentation2 .presentation_wrap {
	position: relative;
}
.presentation2 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 808px;
    height: 808px;
    border-radius: 100%;
    border: 167px solid color-mix(in oklab, var(--bg3), white 14%);
	opacity: .1;
    top: -61%;
    right: -31%;
    z-index: 0;
}
.presentation ul {
    list-style: none;
}
.text_block .presentation ul li {
    padding-left: 0;
    color: #173A60;
    font-family: "SF Pro Display";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.presentation_list li .icon {
    fill: var(--bg2);
}
.text_block .presentation ul li:before {
	display: none;
}
.presentation ul .icon {
    width: 27px;
    height: 27px;
    display: block;
    flex-shrink: 0;
    margin-right: 15px;
}
.presentation ul li {
    display: flex;
}
.text_block .presentation ul li + li {
    margin-top: 27px;
}
.landing .presentation:nth-child(2n) ul li {
	color: #fff;
}
.landing .presentation:nth-child(2n) .presentation_left {
	z-index: 3;
	position: relative;
}
.landing .presentation:nth-child(2n) .presentation_wrap:before {
    opacity: 1;
	z-index: 0;
}


.presentation3 .presentation_wrap {
	flex-direction: column;
	gap: 10px;
}
.presentation3 ul .icon {
    width: 83px;
    height: 83px;
    display: block;
    flex-shrink: 0;
    margin-right: 26px;
}
.presentation_info-title {
	color: #292929;
	font-family: "SF Pro Display";
	font-size: 28px;
	font-style: normal;
	font-weight: 800;
	line-height: 142.857%;	
	margin-bottom: 10px;
}
.presentation_info-text {
	color:  #173A60;
	font-family: "SF Pro Display";
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.landing .presentation:nth-child(2n) .presentation_info-title {
	color: #fff;
}
.landing .presentation:nth-child(2n) .presentation_info-text {
	color: #fff;
}



.presentation_img {
	position: relative;
	z-index: 2;
}
.presentation4 .presentation_box {
	padding: 70px;
	background: var(--bg3);
}
.presentation4 .presentation_wrap {
	padding: 50px;
	align-items: flex-start;
}
.presentation4 .presentation_right {
	padding-right: 50px;
}
.presentation4 .presentation_right:before {
    width: 246px;
    height: calc(100% + 800px);
    content: "";
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    background: var(--bg2);
}
.presentation4 .presentation_img:after {
    position: absolute;
    content: "";
    width: 165px;
    height: 164px;
    top: -46px;
    right: -71px;
    position: absolute;
    z-index: -1;
    background: url(../images/titik.svg);
}

.landing .presentation:nth-child(2n) .presentation_box {
	background: #fff;
}
.landing .presentation:nth-child(2n) .presentation_wrap {
	background: var(--bg3);
}



.presentation5 .presentation_wrap {
	flex-direction: column;
	gap: 0px;
}
.presentation5 .presentation_text {
	text-align: center;
}
.presentation5 .presentation_img {
	width: 100%;
}

.landing .presentation:nth-child(2n).presentation5 .presentation_wrap  {
	background: var(--bg3);
}



.presentation6 .presentation_box {
	padding: 120px;
	background: var(--bg3);
}
.presentation6 .presentation_wrap {
	padding: 50px;
	flex-direction: column;
	z-index: 22;
	position: relative;
	overflow: visible;
}
.presentation6 .presentation_wrap:before {
    position: absolute;
    width: calc(50% + 50px);
    height: calc(100% + 100px);
    content: "";
    top: -50px;
    left: -50px;
    background: var(--bg2);
	z-index: -1;		
}
.presentation_info {
	z-index: 9999;
	position: relative;
}


.presentation7 .presentation_wrap {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    z-index: 3;
}
.presentation7 .presentation_wrap:before {
    position: absolute;
    content: "";
    width: 935px;
    height: 935px;
    border-radius: 100%;
    background: var(--bg3);
    top: -700px;
    right: -750px;
    z-index: 1;
}
.presentation7 .presentation_wrap:after {
    position: absolute;
    content: "";
    width: 864px;
    height: 935px;
    border-radius: 100%;
    background: var(--bg2);
    top: -490px;
    right: -750px;
    z-index: 0;
}
.presentation7 .presentation_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -34px;
    margin-bottom: -34px;
}
.presentation7 .presentation_items > * {
    width: calc(100%/4 - 34px);
    margin-left: 34px;
    margin-bottom: 34px;
}
.presentation_item-text {
	margin-top: 22px;
	color: #173A60;
	font-family: "SF Pro Display";
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;	
}



.presentation8 .presentation_left {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}
.presentation8 .presentation_left .presentation_img:nth-child(1) {
	grid-column: 1;
    grid-row: 1;
}
.presentation8 .presentation_left .presentation_img:nth-child(3) {
	grid-column: 2;
    grid-row: 1/2;
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.presentation8 .presentation_left .presentation_img:nth-child(2) {
	grid-column: 1;
    grid-row: 2;
}


.presentation9 .presentation_img {
    position: relative;
}
.presentation9 .presentation_img:before {
    position: absolute;
    width: 138px;
    height: 138px;
    content: "";
    top: -32px;
    left: -27px;
    background: var(--bg2);
    z-index: 5; 
}
.presentation9 .presentation_img:after {
    position: absolute;
    width: 54px;
    height: 54px;
    content: "";
    top: 56px;
    right: -27px;
    background: var(--bg2);
    z-index: 5; 
}
.presentation9 .presentation_right {
    position: relative;
    display: block;
}
.presentation9 .presentation_right:after {
    position: absolute;
    width: 68px;
    height: 68px;
    content: "";
    bottom: -32px;
    right: 27px;
    background: var(--bg3);
    z-index: 5; 
}
.presentation9 .presentation_wrap {
    flex-direction: column;
}
.presentation_item .icon {
    fill: var(--bg2);
	width: 27px;
	height: 27px;
	margin-right: 15px;
}
















@container presentations (max-width: 1100px) {

} 




@container presentations (max-width: 900px) {

} 




@container presentations (max-width: 700px) {

} 




@container presentations (max-width: 600px) {

} 
