

.knowledgebase .input {
    background: #FFFFFF url(../images/search.svg) no-repeat 20px center;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 54px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px 0 50px;
    margin-bottom: 30px;
    font-family: 'Ubuntu';
}
.knowledgebase .page_title {
    margin-bottom: 21px;
}
.knowledgebase_title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.knowledgebase_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    width: 146px;
    height: 34px;
    background: var(--main_color);
    border-radius: 55px;
    display: block;
    margin-left: auto;
}
.knowledgebase .icon-redact {
    width: 24px;
    height: 24px;
}
.knowledgebase_button {
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 44px;
}

.knowledgebase_button span {
    display: none;
}
.knowledgebase_button:hover span {
    display: block;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: #FFFFFF;
    padding: 5px 11px;
    border-radius: 31px;
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: -0.24px;
    background: #373737;
    box-shadow: 0px 5.715827465057373px 23.67985725402832px 0px #B2B0D363;
}
.knowledgebase_modal {
    display: none;
    padding: 20px 18px;
    background: #FFFFFF;
    border-radius: 15px;
    max-width: 432px;
    width: 100%;
}
.knowledgebase_modal form button {
    padding: 11px;
    border-radius: 75px;
    background: var(--main_color);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 17px;
    margin-left: auto;
    display: block;
}
.knowledgebase_modal .label {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: #7874A3;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}
.knowledgebase_modal .line {
    margin-top: 15px;
}
.knowledgebase_modal .line .field {
    position: relative;
}
.knowledgebase_modal .line input {
    border-radius: 9px;
    border: 1px solid #7874A3;
    background: #FFF;
    width: 100%;
    height: 45px;
    padding: 15px 14px;
    color: #7874A3;
    font-family: "Ubuntu";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.knowledgebase_modal-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.task-page_form .line .field textarea {
    width: 100%;
    height: 189px;
    background: #FFFFFF;
    border: 1px solid #7874A3;
    border-radius: 9px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 14px;
    resize: none;
}
.task-page_form .nice-select {
    width: 100%;
    color: #7874A3;
    font-weight: 500;
}





@media (max-width: 479px) {
    .knowledgebase .accordion_item .head {
        flex-wrap: nowrap;
    }
    .knowledgebase .accordion_item .head .title {
        padding-right: 0;
        width: calc(100% - 45px);       
    }
    .knowledgebase_title {
        font-size: 20px;
    }
}